<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.mungdori.mun.api.mapper.GageMapper">
    <insert id="insertTimeGage" parameterType="com.mungdori.mun.api.domain.item.TimeGage">
        INSERT INTO TB_GAGE(ACCOUNT_ID, ITEM_ID, START_GAGE, TARGET_GAGE)
        VALUES (#{accountId}, #{itemId}, #{startGage}, #{targetGage})
    </insert>
    <select id="selectTimeGage" parameterType="long">
        SELECT ID,ACCOUNT_ID,ITEM_ID, START_GAGE, TARGET_GAGE
        FROM TB_GAGE
        WHERE ACCOUNT_ID = #{userId}
    </select>
</mapper>